* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(
        to bottom,
        #009688 0px,
        #009688 15vh,
        #d2dbdc 15vh,
        #d2dbdc 100%
    );
  }
  
  .container {
    display: flex;
    width: 80%;
    min-width: 900px;
    height: 95%;
    background: #fff;
  }
  
  /*sidebar*/
  
  .side {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    background: #ccc;
  }
  
  .header-side,
  .box4{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-side .icons i,
  .box1 .icons i{
    padding-right: 7px;
    color: grey;
    font-size: larger;
  }
  
  .header-side img,
  .box1 img{
    height: 80%;
    border-radius: 50%;
  }
  
  .box-di-notifica{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #8EDAFC;;
  }
  
  .box-di-notifica .icons i{
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    font-size: larger;
    font-weight: bolder;
    color: #8EDAFC;;
  }
  
  .box-di-notifica a{color:rgba(0,0,0, .5);} 
  
  .header-side,
  .box-di-notifica, 
  .box1{
    height: 10%;
  }
  
  
  .search {
    display: flex;
    align-items: center;
    padding: 8px;
    background: #fafafa;
    
  }
  .search .search-label {
    flex-basis: 80px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #f5f5f5;
    border-right: 0;
    background: #fff;
    text-align: center;
    color: #B6B9BB;
  }
  
  .search .search-input {
    flex-grow: 1;
    height: 36px;
    line-height: 36px;
    border: 1px solid #f5f5f5;
    border-left: 0;
    color: #444;
  }
  
  .box4{
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   overflow-y: auto;
   background-color: #fff;
  }
  
  .profiles{
    height: 60px;
    width: 100%;
    display: flex;
  }
  
  .profiles .user img{
    height: 80%;
    border-radius: 50%;
  }
  
  .profiles .user, 
  .profiles.descrizione{
    margin: 5px 0px 0px 5px;
  }
  
  .profiles:hover{
    background: #E9EBEB;
  }
  
  .profiles.active {
    background: #E9EBEB;
    
  }
  
  /*content*/
  
  .content {
    flex-basis: 65%;
    height: 100%;
    background: #aaa;
    display: flex;
    flex-direction: column;
  }
  
  .box1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid rgba(0,0,0, .5);
    background-color: #ccc;
  }
  
  .main-content{
    flex-grow: 1;
      background-image: url('img/mine.jpg');
      overflow-y: auto;
  }
  
  .message-sent-conteiner{
    display: flex;
    justify-content: flex-end;
  }
  
  .mess-sent{
    /*margin: 20px;*/
    background-color: #D5F9BA;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
  }
  
  .mess-received{
    /*margin: 20px;*/
    background-color: #fff;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
  }
  
  .main-content .right-messages {
    display: none;
    padding: 5% 10%;
  }
  
  
  .main-content .right-messages.active {
    display: block;
  }
  
   .message-time {
    font-size: 10px;
    color: #B6B9BB;
  }
  
  /*footer*/
  
  .footer {
    display: flex;
    align-items: center;
    background: #f3eefa;
  }
  .footer .nuovo-messaggio {
    flex-grow: 1;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    font-weight: 300;
    font-size: 14px;
    border: 0;
    border-radius: 5px;
  }
  .footer .footer-icons {
    width: 10%;
    line-height: 70px;
    text-align: center;
    font-size: 25px;
    color: #6B7376;
    cursor: pointer;
  }
  
  /*template*/
  
  .template{
    display: none;
  }